@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
:root{
  --primary-color: #fff;
  --secondary-color: #000;
}
.dark{
  --primary-color: #000000;
  --secondary-color: #fff;
}

body{
    /* background-image: url("mist2.jpg");
    background-position: center; */
    background: var(--primary-color);
}
.holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container{
    width: 500px;
    background: var(--secondary-color);
    border-radius: 25px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

.navbar{
  text-align: right;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

#icon{
  width: 30px;
}

.container h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
  }
  .container .page{
    margin: 35px 0;
  }
  .container .quotes{
    display: flex;
    justify-content: center;
  }
  .quotes i{
    font-size: 10px;
    color: var(--primary-color);
  }
  .quotes i:first-child{
    margin: 3px 10px 0 0;
  }
  .quotes i:last-child{
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
  }
  .quotes .quote{
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    color: var(--primary-color);
  }
  .container .writer{
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
    color: var(--primary-color);
  }
  .writer span:first-child{
    margin: -7px 5px 0 0;
  }
  .container .btn{
    border-top: 1px solid #ccc;
  }
  .btn .addons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .addons ul{
    display: flex;
  }
  .addons ul li{
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: var(--primary-color);
    list-style: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
  }
  .addons ul li:first-child{
    margin-left: 0;
  }
  ul li:is(:hover, .active){
    color: #fff;
    background: black;
  }
  ul .speech.active{
    pointer-events: none;
  }
  .btn button{
    border: none;
    color: var(--secondary-color);
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: var(--primary-color);
  }
  .btn button.loading{
    opacity: 0.7;
    pointer-events: none;
  }
   ul.automated-speech.active{
     pointer-events: none;
   }

   .footer{
    text-align: center;
    font-size: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: var(--secondary-color);
   }
   .footer-name{
    text-decoration: none;
    color: red;
   }

  @media only screen and (max-width: 500px) {
      .container{
          width: 380px;
          height: 280px;
          padding: 1px;
          margin-top: 30px;
      }
      .container h1{
        font-size: 30px;
        padding: 0;
        margin-bottom: 0;
        margin-top: 10px;

      }
      .quotes .quote{
        font-size: 13px;
      }
      .container .page{
        margin: 0 10px;
      }
      .btn .addons{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
      }

      .btn button{
        padding: 8px 15px;
        margin-right: 5px;
        font-size: 13px;
      }

      .addons ul li{
        height: 30px;
        width: 30px;
        margin: 10px;
      }
      
  }
  